<p id="notice"><%= notice %></p>

<h1>Cursos</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>NRC</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.name %></td>
        <td><%= course.nrc %></td>
        <td><%= link_to 'Ver curso', course %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>
